:root {
    --verde: #005541;
    --verde-claro: #008666;
    --branco: #f8f7f3;
    --preto: #010806;
}

body{ 
    background-color: var(--preto);
    color: var(--branco);
} 

.nav-item{
    color: var(--branco);
    list-style: none;
}

.navbar-brand{
    /* logo de odisseu (navbar) */
    width: 15rem;
    margin-bottom: 10px;
}

.navegacao{
    max-width: 20%;
    border-right: 2px solid var(--verde-claro);
    min-height: 100vh;
    align-items: flex-start;
}

.botao-inicio{
    padding: 5px 167px 5px 20px; 
    border-radius: 2px;
    color: var(--branco);
    background-color: var(--verde-claro);
    text-decoration: none;
}

.top{
    border-bottom: 2px solid var(--verde-claro);
}
