:root {
    --verde: #005541;
    --verde-claro: #008666;
    --branco: #f8f7f3;
    --preto: #010806;
    --vermelho: #ff3131;
}

body{ 
    background-color: var(--preto);
    color: var(--branco);
} 

.nav-item{
    color: var(--branco);
    list-style: none;
}

.navbar-brand{
    /* logo de odisseu (navbar) */
    width: 15rem;
}

.navegacao{
    max-width: 20%;
    border-right: 2px solid var(--verde-claro);
    min-height: 100vh;
    align-items: flex-start;
} 

.botao-inicio{
    padding: 5px 167px 5px 20px; 
    border-radius: 2px;
    color: var(--branco);
    background-color: var(--verde-claro);
    text-decoration: none;
}

.top{
    border-bottom: 2px solid var(--verde-claro);
}

/* forms */ 

.forms {
    display: inline;
    flex-wrap: wrap;
    gap: 15px;
}

.forms p {
    min-width: 0;
    margin: 0;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input:focus,
form select:focus,
form textarea:focus {
    outline: none;
    border-color: var(--verde-claro);
}

form label[for="id_cpf"], form label[for="id_cns"] {
    text-transform: uppercase;
}

form input.nome{
    text-transform: capitalize;
}

form input.edit-forms{
    margin: 5px;
    width: 20rem;
    border-radius: 4px;
}

/* .forms .errorlist {
    list-style: none;
    font-size: 14px;
} */

.sucesso{
    background-color: var(--verde-claro);
    color: var(--branco);
    border-radius: 2px;
}

.cancelar{
    background-color: var(--preto);
    color: var(--branco);
    border: 2px solid var(--vermelho);
    border-radius: 2px;
    padding: 5px;
    transition: 1s;
}

.cancelar:hover {
    background-color: var(--vermelho);
}

.botoes{
    margin: 5rem;
}

.pdf{
    border-radius: 5px;
}

.login {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    color: var(--verde-claro);
}

.data{
    text-transform: uppercase;
}

input[type="date"], .perfil, .paciente {
    color: gray;
}

input[type="date"]:valid, .perfil:valid, .paciente:valid {
    color: black;
}