{% extends "base.html" %}
{% block title %}{{ block.super }} - Agendar exames{% endblock %}
{% block content %}
    <h1>Agendar exames</h1>

    <p>
        <a class="link" href="{% url 'cadastrar_paciente' %}">
            Cadastrar novo paciente ➤
        </a>
    </p>

    <hr>

    <form method="POST" class="forms">

        {% csrf_token %}
        <div class="row">
            <nav class="col-md-8 rounded-2">
                <p>
                    <strong>Paciente:</strong>
                </p>
                {{ form.paciente }}
                {{ form.paciente.errors }}
            </nav>
        </div>

        <br><br>

        <p>
            <strong>Exames:</strong>
        </p>

        {{ form.exames }}

        <br>

        <p>
            <strong>Data:</strong>
        </p>

        {{ form.data }}
        {{ form.data.errors }}

        <br><br>
        <p> 
            <strong>Solicitante:</strong>
        </p>
        {{form.solicitante}} 
        
        <br><br>

        <button class="confirmar border-0 px-2 p-2" type="submit">
            Agendar exames
        </button>

    </form>
{% endblock %}