{% extends "base.html" %}
{% block title %}{{ block.super }} - Agendar exames{% endblock %}
{% block content %}
    <h1>Agendar exames</h1>

    <p>
        <a href="{% url 'cadastrar_paciente' %}">
            Cadastrar novo paciente
        </a>
    </p>

    <hr>

    <form method="POST">

        {% csrf_token %}

        <p>
            <strong>Paciente:</strong>
        </p>

        {{ form.paciente }}

        <br><br>

        <p>
            <strong>Exames:</strong>
        </p>

        {{ form.exames }}

        <br>

        <p>
            <strong>Data:</strong>
        </p>

        {{ form.data }}

        <br><br>

        <button type="submit">
            Agendar exames
        </button>

    </form>
{% endblock %}