{% extends "base.html" %}
{% load static %}
{% load permission_tags %}
{% block title %}Odisseu - Ajuda{% endblock %}
{% block help %}
    <nav class="border-bottom border-success container-fluid">
        <section class="row m-2">
                <div class="col-8">
                    <img class="navbar-brand m-2" src="{% static 'odisseu/imgs/odisseu-logo.png' %}">
                </div>
                <div class="col-1 text-end mt-5">
                    <a class="nav-link text-tema" href="{% url 'paciente_historico' %}">
                        <span class="bi bi-house"></span>
                        Início
                    </a>
                </div>
                <div class="col-1 text-end mt-5">
                    <a class="nav-link text-tema" href="{% url 'ajuda' %}">
                        <span class="bi bi-question-circle"></span>
                        Ajuda
                    </a>
                </div>
                <div class="col-2 text-end mt-5">
                    <form method="post" action="{% url 'logout_paciente' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn p-0 text-danger border border-danger p-2">
                            SAIR
                            <span class="bi bi-box-arrow-right"></span> 
                        </button>
                    </form>
                </div>
        </section>
    </nav>
{% endblock %}
{% block content %}
    <section class="container p-2 mt-5">
            <nav class="row">
                <div class="col">
                    <h1 id="Título">Centro de Ajuda</h1>
                    <p id="subtitulo">Essa pagina é dedicada a dúvidas quanto ao uso do sistema</p>
                </div>
            </nav>
            <nav class="row">
                <div class="col">
                    <h4 class="text-success">Perguntas Frequentes</h4>

                    <section class="container p-2 mt-3">
                        <div class="row">
                            <nav class="col">
                                <p>Área do Paciente</p>

                                <ul>
                                    <li><a href="#">link</a></li>
                                    <li><a href="#">link</a></li>
                                    <li><a href="#">link</a></li>
                                </ul>
                            </nav>
                            <nav class="col">
                                <p>Utilizando o sistema</p>

                                <ul>
                                    <li><a href="#">link</a></li>
                                    <li><a href="#">link</a></li>
                                    <li><a href="#">link</a></li>
                                </ul>
                            </nav>
                        </div>
                    </section>
                    
                    
                </div>
            </nav>
    </section>
{% endblock %}

