{% extends "base.html" %}
{% block title %}{{ block.super }} - Cadastrar Usuário{% endblock %}
{% block content %}
    <h1 id="titulo">Cadastrar usuário</h1>
    <p id="subtitulo">
        Preencha os campos abaixo para cadastrar um novo</br> usuário no sistema
    </p>

    <p>
        <a class="link" href="{% url 'index' %}">
            < Voltar
        </a>
    </p>

        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

    <nav class="container-fluid p-5 rounded-3    white shadow-lg">
        <form method="POST" class="forms">
            {% csrf_token %}

            <section class="row">
                <div class="col-md-8 col-12 border-0">
                    <label for="{{ form.username.id_for_label }}">
                        Usuário de acesso:
                    </label>

                    {% load widget_tweaks %}
                    <div class="mb-3 form_icon">
                        <i class="bi bi-person"></i>
                        {% render_field form.username class="form-control rounded-4 shadow-lg" placeholder="Digite seu usuario" %}
                    </div>

                    {{ form.username.errors }}
                </div>
            </section>

            <section class="row">
                <div class="col-md-4 col-6 rounded-2">
                    <label for="{{ form.first_name.id_for_label }}">
                        Primeiro nome:
                    </label>

                    <div class="mb-3 form_icon">
                        <i class="bi bi-person"></i>
                        {% render_field form.first_name class="form-control rounded-4 shadow-lg" placeholder="Digite seu primeiro nome" %}
                    </div>
                    {{ form.first_name.errors }}
                </div>

                <div class="col-md-4 col-6 rounded-2">
                    <label for="{{ form.last_name.id_for_label }}">
                        Segundo nome:
                    </label>
                    <div class="mb-3 form_icon">
                        <i class="bi bi-person"></i>
                        {% render_field form.last_name class="form-control rounded-4 shadow-lg" placeholder="Digite seu segundo nome" %}
                    </div>
                    {{ form.last_name.errors }}
                </div>
            </section>


            <section class="row">
                <div class="col-md-6 col-8 rounded-2">
                    <label for="{{ form.email.id_for_label }}">
                        Email:
                    </label>

                    <div class="mb-3 form_icon">
                        <i class="bi bi-envelope"></i>
                        {% render_field form.email class="form-control rounded-4 shadow-lg" placeholder="exemplo@email.com" %}
                    </div>

                    {{ form.email.errors }}
                </div>

                <div class="col-md-2 col-4 rounded-2">
                    <label for="{{ form.perfil.id_for_label }}">
                        Cargo:
                    </label>

                    <div class="mb-3 form_icon">
                        {% render_field form.perfil class="form-control rounded-4 shadow-lg"%}
                    </div>

                    {{ form.perfil.errors }}
                </div>
            </section>
            
            <section class="row">
                <div class="col-md-4 rounded-2 position-relative campo">
                    <label for="{{ form.password1.id_for_label }}">
                        Digite sua senha:
                    </label>

                    <div class="mb-3 form_icon">
                        <i class="bi bi-lock"></i>
                        {% render_field form.password1 class="form-control rounded-4 shadow-lg"%}
                    </div>

                    {{ form.password1.errors }}

                    <!-- <button type="button" class="position-absolute end-0 eye translate-middle-y border-0   transparent pb-5" 
                        onclick="mostrarSenha('id_password1', this)">
                        <i class="bi bi-eye-fill"></i>
                    </button> -->
                </div>

                <div class="col-md-4 rounded-2 position-relative campo">
                    <label for="{{ form.password2.id_for_label }}">
                        Confirme a senha:
                    </label>
                    <div class="mb-3 form_icon">
                        <i class="bi bi-lock"></i>
                        {% render_field form.password2 class="form-control rounded-4 shadow-lg"%}
                    </div>
                    {{ form.password2.errors }}

                    <!-- <button type="button" class="position-absolute end-0 eye translate-middle-y border-0   transparent pb-5"
                        onclick="mostrarSenha('id_password2', this)">
                        <i class="bi bi-eye-fill" style="width: 20px;"></i>
                    </button> -->
                </div>
            </section>

            <section class="row mt-5">
                <nav class="col-12 text-end">
                    <button class="cancelar p-2 me-3 rounded-2" type="reset">Cancelar</button>
                    <button class="confirmar p-2 border-0 rounded-2" type="submit" 
                        onclick="return confirm('Tem certeza que deseja criar este usuário?')">
                        <span class="bi bi-person-plus"></span>Cadastrar usuário
                    </button>
                </nav>
            </section>
        </form>
    </nav>
{% endblock %}