{% extends "base.html" %}
{% load static %}

{% block title %}{{ block.super }} - Configuração{% endblock %}

{% block config %}
<style>
    .circle {
        color: var(--verde);
    }

    #destaque:hover, #destaque:hover .circle{
        transition: 0.2s;
        transform: scale(1.1);
        color: var(--destaque);
    }

    #destaque:hover{
        background-color: var(--fundo);
    }

</style>

<nav class="mt-5 p-2">

    <h1 id="titulo">
        <i class="bi bi-gear-fill" style="font-size: xx-large;"></i>
        Configuração
    </h1>

    <p id="subtitulo">
        Nesta página ajustar informações e suas preferências do sistema.
    </p>

    <p>
        <a class="btn btn-sm btn-primary" href="{% url 'index' %}">
            < Voltar
        </a>
        <a href="{% url 'ajuda' %}" class="btn btn-sm btn-success">
            Precisa de Ajuda?
        </a>
    </p>

    <nav class="container row-gap-3">

        <!-- INFORMAÇÕES DO USUÁRIO -->
        <section class="row mt-3 rounded-3 p-3">

            <div class="col-1">
                <span class="bi bi-person-fill text-destaque" style="font-size: 10vh;"></span>
            </div>

            <div class="col-2 mt-4 ms-3">

                <h6>Informações:</h6>

                <nav class="px-3 mb-5">

                    <h4>{{ request.user.username }}</h4>

                    <span class="btn btn-sm btn-primary rounded-3"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        {{ perfil }}
                    </span>
                    
                </nav>

            </div>
        </section>


        <section class="row mt-3 rounded-3 p-3">

            <div class="col-1">
                <span class="bi bi-palette-fill text-destaque" style="font-size: 10vh;"></span>
            </div>

            <div class="col-10 mt-4 ms-3">

                <h6>Tema do sistema:</h6>

                <nav class="row">
                    <div class="col-md-5 card border border-primary rounded-3 mt-4 ms-3" id="destaque">
                        <div class="card-body text-center" id="btn-tema-claro">

                            <nav class="row text-center">

                                <span class="bi bi-sun" style="font-size: xx-large;"></span>

                                <h3 style="font-size: small;">
                                    Claro
                                </h3>

                                <button type="button" class="btn btn-sm border-0 circle">
                                    <i class="bi bi-circle"></i>
                                </button>
                            </nav>
                        </div>
                    </div>


                    <!-- TEMA ESCURO -->
                    <div class="col-md-5 card border border-primary rounded-3 mt-4 ms-3" id="destaque">

                        <div class="card-body text-center" id="btn-tema-escuro">

                            <nav class="row text-center">

                                <span class="bi bi-moon" style="font-size: xx-large;"></span>

                                <h3 style="font-size: small;">
                                    Escuro
                                </h3>

                                <button type="button" class="btn btn-sm border-0 circle">
                                    <i class="bi bi-circle"></i>
                                </button>

                            </nav>

                        </div>

                    </div>

                </nav>

            </div>

        </section>
    </nav>
</nav>

{% endblock config %}