{% extends "base.html" %}
{% block title %}{{ block.super }} - Resgistrar Resultados{% endblock %}
{% block content %}

    <h1>Digitar resultado</h1>

    <p>
        <strong>Paciente:</strong>
        {{ agendamento.paciente.nome }}
    </p>

    <p>
        <strong>Exame:</strong>
        {{ agendamento.get_exame_display }}
    </p>

    <p>
        <strong>Data:</strong>
        {{ agendamento.data|date:"d/m/Y" }}
    </p>

    <hr>

    <form method="POST">
    {% csrf_token %}
    <h2>{{ exame.nome }}</h2>

    {% if exame.secoes %}
        {% for secao in exame.secoes %}
            <h3>{{ secao.nome }}</h3>
            {% for parametro in secao.parametros %}
                <div>
                    <label><strong>{{ parametro.nome }}</strong></label>
                    <br>
                    <input type="text" name="{{ parametro.nome }}">
                    {% if parametro.tipo == 'diferencial' %}%{% else %}{{ parametro.unidade }}{% endif %}
                    <br>
                    <small>Valor de referência: {{ parametro.referencia }}</small>
                </div>
                <br>
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for parametro in exame.parametros %}
            <div>
                <label><strong>{{ parametro.nome }}</strong></label>
                <br>
                <input type="text" name="{{ parametro.nome }}">
                {{ parametro.unidade }}
                <br>
                <small>Valor de referência: {{ parametro.referencia }}</small>
            </div>
            <br>
        {% endfor %}
    {% endif %}

    <div>
        <label for="id_observacao"><strong>Observação:</strong></label>
        <br>
        {{ form.observacao }}
    </div>
    <br>
    <button type="submit">Salvar resultado</button>
</form>


    {% if agendamento.resultado %}

        <br><br>

        <a href="{% url 'ver_resultados' agendamento.paciente.id agendamento.data|date:'Y-m-d' %}">
            <button type="button">
                Ver resultados
            </button>
        </a>

    {% endif %}
{% endblock %}