{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'odisseu/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'odisseu/css/style.css' %}">
</head>
<body>
    <section class="container">
        <nav class="row">
            <div>
                <form  method="post">
                    {% csrf_token %}
                    <span class="bi bi-person"></span><input type="text" name="username" placeholder="Username">
                    <span class="bi bi-key"></span><input type="password" name="password" placeholder="Password">
                    <button class="sucesso border-0" type="submit">Login</button>
                </form>
            </div>
        </nav>
    </section>
</body>
</html>