{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'odisseu/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'odisseu/css/style.css' %}">
</head>
<body>
    <section class="container login">
        <nav>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <span class="bi bi-person-fill"></span><input class="edit-forms" type="text" name="username" placeholder="Username">
                </div>
                <div class="row">
                    <span class="bi bi-key-fill"></span><input class="edit-forms" type="password" name="password" placeholder="Password">
                </div>
                
                <button class="sucesso border-0 px-4 mt-3" type="submit">Login</button>
            </form>
        </nav>
    </section>
</body>
</html>