{% extends "base.html" %}
{% block title %}{{ block.super }} - Resultados{% endblock %}
{% block content %}
    <h1 id="titulo">Digitar resultados</h1>
    <p id="subtitulo">
        Realize os resultados de exames disponíveis
    </p>
    <p>
        <a class="link" href="{% url 'agendar_exame' %}">
            + Agendar exame
        </a>
    </p>

    <section class="container rounded-3 bg-white shadow-lg shadow-lg">
            <form method="GET" class="mb-4">
                <div class="input-group py-3">
                    <input class="form-control shadow-lg border border-black"
                        type="text"
                        name="busca"
                        placeholder="Pesquisar por nome, CPF ou CNS"
                        value="{{ busca }}">

                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-search"></i>
                        Pesquisar
                    </button>
                </div>
            </form>
    <section class="container bg-light rounded-3 shadow-lg text-dark p-5">
        <div class="row">
            <nav class="col-12 gap-2">
                {% if page_obj %}
                    {% for grupo in page_obj %}
                        <h4>
                            <strong>Paciente:</strong>
                            {{ grupo.paciente.nome }}
                        </h4>

                        <nav class="container-fluid mb-5 bg-white shadow-lg border rounded-3 p-4">
                            {% for agendamento in grupo.agendamentos %}
                                    <div class="row">
                                        <div class="col-4">
                                            <strong>Data:</strong>
                                            {{ agendamento.data }}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4">
                                            <strong>Exame:</strong>
                                            {{ agendamento.get_exame_display }}
                                        </div>
                                    </div>

                                    <div class="row text-end">
                                        <nav class="col-12">
                                            <button class="btn btn-primary">
                                                <a class="text-white nav-link"
                                                href="{% url 'digitar_resultados' agendamento.id %}">
                                                    Digitar resultado
                                                </a>
                                            </button>
                                        </nav>
                                    </div>

                                <hr>
                            
                            {% endfor %}
                        </nav>
                    {% endfor %}

                {% else %}

                    <p>Não existem resultados pendentes de digitação.</p>

                {% endif %}
            </nav>
            
        </div>
        
        <div class="paginacao">
        {% if page_obj.has_previous %}
            <a href="?busca={{ busca }}&page={{ page_obj.previous_page_number }}">
                Anterior
            </a>
        {% endif %}

        <span>
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a href="?busca={{ busca }}&page={{ page_obj.next_page_number }}">
            Próxima
        </a>
        {% endif %}
        </div>
  
    </section>

</div>

{% endblock %}