<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <title>Rotina</title>
</head>

<body>

    <h1>Rotina do laboratório</h1>

    <!-- FILTRO POR DATA -->

    <form method="GET">

        <label for="data">
            Selecionar data:
        </label>

        <input
            type="date"
            id="data"
            name="data"
            value="{{ data|date:'Y-m-d' }}"
        >

        <button type="submit">
            Filtrar
        </button>

    </form>

    <hr>

    <h2>
        Rotina do dia:
        {{ data|date:"d/m/Y" }}
    </h2>


    <!-- AGRUPA OS AGENDAMENTOS PELO PACIENTE -->

    {% regroup agendamentos by paciente as pacientes %}


    {% for grupo in pacientes %}

        <div>

            <!-- NOME DO PACIENTE APARECE UMA VEZ -->

            <h3>
                {{ grupo.grouper.nome }}
            </h3>


            <!-- EXAMES DESSE PACIENTE -->

            {% for agendamento in grupo.list %}

                <div>

                    <strong>
                        {{ agendamento.get_exame_display }}
                    </strong>

                    <a href="{% url 'digitar_resultados' agendamento.id %}">
                        Digitar resultado
                    </a>

                </div>

                <br>

            {% endfor %}

        </div>

        <hr>

    {% empty %}

        <p>
            Não existem exames agendados para esta data.
        </p>

    {% endfor %}

</body>

</html>